<mat-card>
    <mat-card-title>Congratulations!</mat-card-title>
    <mat-card-content>
        <div style="width:100%;height:0;position:relative;">
            <img class="bouncing-cat" src="https://media.giphy.com/media/jpbnoe3UIa8TU8LM13/giphy-downsized.gif"/>
        </div>        
        {{data.timeOnGame}}
        <div>
            Do you want to play again?
        </div>
        <div>
            <button mat-button (click)="sumbitPlay()"> Play again </button>
            <button mat-button (click)="submit()"> No thanks </button>
            <button mat-button (click)="submit()"> Nice kitty </button>
        </div>        
    </mat-card-content>
    <!-- <mat-card-footer>
        <div>
            Do you want to play again?
        </div>
        <div>
            <button mat-button (click)="sumbitPlay()"> Play again </button>
            <button mat-button (click)="submit()"> No thanks </button>
            <button mat-button (click)="submit()"> Nice kitty </button>
        </div>
    </mat-card-footer> -->
</mat-card>

