mat-card {
    height:400px;
    mat-card-title {
        text-align: center;
        
    }

    mat-card-content {
        text-align: center;
        font-weight: bold;
        font-size: 17px;

    // }
    // mat-card-footer {
        display:flex;
        justify-content:center;
        flex-direction:column;
        

        div {
            font-weight: bold;
            font-size: 15px;
        }
    }
}
.bouncing-cat {
    height: 300px;
    width: 300px;
}