
div {
    margin: 0 auto;
    canvas {
        text-align: center;
        margin: 0px auto;
        display: flex;
        justify-content: center;
        margin-top: 50px;
    }
}
mat-input {
    width: 40px
}
.start-panel {
    border: 5px dotted hsl(101, 100%, 44%);
    padding:0.5em;
    margin-top: 50px;
    display:flex;
    justify-content:center;
    flex-direction:column;
    text-align:center;
    h3 {
        font-weight: bold;
        font-size:18px;
        
    }
}
