<mat-card *ngIf="gameOver === false">
    Current level: {{ level }}
    <mat-progress-bar mode="determinate" value={{progresBarValue}}></mat-progress-bar>
 </mat-card>
    <div>
        <canvas #canvas id="hangman" width="180" height="250"></canvas>
    </div>
    <div *ngIf="gameOver===false">
        <mat-grid-list cols="10" rowHeight="1:1">
            <mat-grid-tile style="width:40px;" *ngFor="let i of wordArray">
                <input *ngIf="i.key" style="width:40px;" mat-input>{{i.key}}
                <span *ngIf="i.letter">{{i.letter}}</span>
            </mat-grid-tile>
          </mat-grid-list>
    </div>
    
    <div *ngIf="gameOver===false">
        <mat-grid-list cols="10" rowHeight="3:1">
            <mat-grid-tile
                *ngFor="let letter of alphabet">
                <button mat-raised-button (click)="checkThisLetter(letter)"> {{letter}}
                </button>
            </mat-grid-tile>
        </mat-grid-list>
    </div>

    <div *ngIf="gameOver===true">
        
        <!-- <mat-card class="button-panel">
            <mat-card-title class="first">
               <h3>GAME OVER!</h3> 
            </mat-card-title>
            <mat-card-content class="second">            
                <button mat-raised-button color="primary" (click)="playAgain()">start the game again </button>
            </mat-card-content>
        </mat-card> -->
    <div class="start-panel">
        <h3> GAME OVER </h3>
        <button mat-raised-button color="primary" (click)="playAgain()">start the game again </button>
    </div>    

    </div>



