
<!-- Toolbar -->
<mat-toolbar color=primary>
  <span> Hanging Man </span>
</mat-toolbar>

<!-- Highlight Card -->
<mat-card *ngIf="component === 'start'">
   Welcome to {{ title }} app!
</mat-card>

<div *ngIf="component === 'start'">
  <app-start-panel></app-start-panel>
</div>

<div *ngIf="component === 'game'">
  <app-game></app-game>
</div>

<!-- Footer -->
<footer></footer>



