
    <mat-card class="start-panel" color=secondary>
        <img src="./../../assets/hanging-man.png"/>
    </mat-card>

    <mat-card class="button-panel">
        <button mat-raised-button (click)="startTheGame()" color="primary">start </button>
    </mat-card>
