
   
    
    .start-panel {
        display: grid;
        grid-template-rows: [row1-start] 450px [row1-end row2-start] 25px [row2-end];
        justify-items: center;
        padding: 30px;
        
        height: 290px;
        margin-top: 50px;
        display:flex;
        justify-content:center;

        border: 5px dotted hsl(101, 100%, 44%);
        transition: border-color 0.6s dotted;
        margin:0.5em;
    
        img {
            display: flex;
            justify-content: center;
        }
    }

    .start-panel:hover {
       border-color: #d000ff;
    }

    .button-panel {
        height:40px;
        display:flex;
        justify-content:center;
    }




